@import url(reset.css);
/* @import url(normalize.css); */
@import url('https://fonts.googleapis.com/css?family=Anton|Yrsa');

.page {
  font-family: PT Sans;
}

.header {
  height: 100px;
  width: 100%;
  background-color: #000;
  position: relative;
  position: fixed;
  overflow: hidden;
}

.wrap {
  margin: 0 30px;
}

h1 {
  font-size: 21px;
  line-height: 100px;
  color: #fff;
  display: inline-block;
  position: absolute;
  float: left;
  text-transform: uppercase;
}

.menu {
  display: inline-block;
  float: right;
  margin: 35px 20px 0 20px;
}

.menuItem {
  width: 4px;
  height: 4px;
  border-radius: 2px;
  background-color: #fff;
  margin-top: 3px;
  display: block;
}

/* .menuItem::before {
  content: '';
  box-shadow: 0 8px 6px 0 #fff;
}

.menuItem::after {
  content: '';
  width: 6px;
  height: 6px;
  border-radius: 3px;
  background-color: #fff;
  margin-top: 3px;
} */

h2 {
  font-size: 18px;
  font-weight: 700;
  margin-top: 10px;
  margin-bottom: 20px;
  text-align: left;
}

.content {
  display: block;
  font-size: 0;
}

.service {
  font-size: 16px;
  line-height: 24px;
  text-align: left;
  padding: 25px;
  width: 30%;
  height: 750px;
  border: 2px #cecece solid;
  border-radius: 5px;
  display: inline-block;
  vertical-align: top;
  margin-right: 20px;
  margin-top: 150px;
  box-sizing: border-box;
}

.service:last-child {
  margin-right: 0;
}

.footer {
  height: 50px;
  background-color: #000;
  margin-top: 100px;
}

.footer p {
  font-size: 16px;
  color: #fff;
  margin-left: 30px;
  line-height: 50px;
}
